%%

In [2]:
%%writefile abc.txt
this is my first line
this is my second line
this is my third line

Writing abc.txt

In [7]:
abc=open('abc.txt')

In [9]:
abc.read()

''

In [11]:
abc.seek(0)

0

In [12]:
abc.readlines()

['this is my first line\n',
 'this is my second line\n',
 'this is my third line\n']

In [15]:
abc.close()

In [27]:
print("name=prince")
print("age=20")
print("salary=25000")
print("marrital_status==0")
print("Not married")
print("marrital_status==1")
print("married")

name=prince
age=20
salary=25000
marrital_status==0
Not married
marrital_status==1
married

In [21]:
print("name=prince")

name=prince

In [5]:
print("hello","ravi")
print("your age is",int(25))

hello ravi
your age is 25

In [7]:
n=int(input("Total number of employee data input = "))
for e in range(n):     
    eno=int(input("Employee number : "))
    enam=input("Employee name : ")
    esal=float(input("Employee salary : "))
    print()

Total number of employee data input = 4
Employee number : 12
Employee name : prince
Employee salary : 2300

Employee number : 13
Employee name : rajat
Employee salary : 4300

Employee number : 14
Employee name : dhruv
Employee salary : 3000

Employee number : 15
Employee name :
Employee salary : 4000

In [1]:
n=int(input("Total number of employee data input = "))
for e in range(n):     
    eno=int(input("Employee number : "))
    enam=input("Employee name : ")
    esal=float(input("Employee salary : "))
    print()
d=int(input("Employee Data : "))
print(e[d])

Total number of employee data input = 2
Employee number : 15
Employee name : rajat
Employee salary : 40000

Employee number : 16
Employee name : dhruv
Employee salary : 45000

Employee Data : 1

TypeError: 'int' object is not subscriptable

In [2]:
n=int(input("Total number of employee data input = "))
for e in range(n):
    lis=[]
    lis.append(int(input("Employee number : ")))
    lis.append(input("Employee name : "))
    lis.append(float(input("Employee salary : ")))
    print(f'lis{e}')
d=int(input("Employee Data : "))
print(lis[d])

Total number of employee data input = 2
Employee number : 3
Employee name : rajat
Employee salary : 30000
lis0
Employee number : 3
Employee name : dhruv
Employee salary : 40000
lis1
Employee Data : 1
dhruv

In [13]:
n=int(input("Total number of employee data input = "))
for e in range(n):
    lis=[]
    lis.append(int(input("Employee number : ")))
    lis.append(input("Employee name : "))
    lis.append(float(input("Employee salary : ")))
    print(f'lis{e}={lis}')
d=int(input("Employee Data : "))
print(lis0)

Total number of employee data input = 2
Employee number : 23
Employee name : hjghj
Employee salary : 656
lis0=[23, 'hjghj', 656.0]
Employee number : 46
Employee name : fyhgh
Employee salary : 67
lis1=[46, 'fyhgh', 67.0]
Employee Data : 0

NameError: name 'lis0' is not defined

In [14]:
n=int(input("Total number of employee data input = "))
for e in range(n):
    lis[e]=[]
    lis.append(int(input("Employee number : ")))
    lis.append(input("Employee name : "))
    lis.append(float(input("Employee salary : ")))
    print(f'lis{e}={lis}')
d=int(input("Employee Data : "))
print(lis0)

Total number of employee data input = 1
Employee number : 1
Employee name : ert
Employee salary : 4565
lis0=[[], 'fyhgh', 67.0, 1, 'ert', 4565.0]
Employee Data : 1

NameError: name 'lis0' is not defined

In [4]:
l=[]
l.append(7)
l

[7]

In [9]:
l=[]
l.append(int(input("hj:")))
l.append(float(input("gfgh")))
l

hj:78
gfgh89.89

[78, 89.89]